html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.firstscreen {
  height: 100%;
  min-height: 925px;
  width: 100%;
  background-color: #00b084;
}
@media (min-width: 0px) and (max-width: 450px) {
  .firstscreen {
    min-height: initial;
  }
}
.firstscreen h2 {
  font-family: 'Nova Mono', monospace;
  font-size: 55px;
  color: white;
  font-weight: 400;
  margin-bottom: 0;
  position: relative;
  left: -180px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
@media (min-width: 800px) and (max-width: 1050px) {
  .firstscreen h2 {
    font-size: 50px;
  }
}
@media (min-width: 650px) and (max-width: 799px) {
  .firstscreen h2 {
    font-size: 30px;
  }
}
@media (min-width: 0px) and (max-width: 649px) {
  .firstscreen h2 {
    font-size: 30px;
    position: static;
    float: left;
    margin-left: 10%;
  }
}
.firstscreen .textbox {
  text-align: left;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: auto;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
@media (min-width: 650px) and (max-width: 799px) {
  .firstscreen .textbox {
    width: 500px;
  }
}
@media (min-width: 0px) and (max-width: 649px) {
  .firstscreen .textbox {
    width: 80%;
    margin-left: 10%;
  }
}
.firstscreen p {
  font-family: 'Nova Mono', monospace;
  font-size: 30px;
  color: white;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
@media (min-width: 800px) and (max-width: 1050px) {
  .firstscreen p {
    font-size: 27px;
  }
}
@media (min-width: 0px) and (max-width: 799px) {
  .firstscreen p {
    font-size: 20px;
  }
}

.secondscreen {
  height: 100%;
  min-height: 1200px;
  width: 100%;
  background-color: #f9d9e5;
}
@media (min-width: 660px) and (max-width: 1050px) {
  .secondscreen {
    min-height: 930px;
  }
}
@media (min-width: 450px) and (max-width: 659px) {
  .secondscreen {
    min-height: 750px;
  }
}
@media (min-width: 0px) and (max-width: 449px) {
  .secondscreen {
    min-height: 850px;
  }
}

#navigationBar {
  height: 100px;
}
#navigationBar h1 {
  font-family: 'Nova Mono', monospace;
  font-size: 60px;
  color: #F9CDDC;
  display: inline-block;
  margin: 30px 0 0 80px;
  font-weight: 400;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
#navigationBar h1:hover {
  color: white;
}
@media (min-width: 800px) and (max-width: 1050px) {
  #navigationBar h1 {
    font-size: 50px;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  #navigationBar h1 {
    font-size: 30px;
  }
}
@media (min-width: 0) and (max-width: 599px) {
  #navigationBar h1 {
    font-size: 30px;
    margin: 30px 0 0 30px;
  }
}
#navigationBar ul {
  list-style-type: none;
  float: right;
  display: inline-block;
  margin-right: 80px;
}
@media (min-width: 0px) and (max-width: 1050px) {
  #navigationBar ul {
    display: none;
  }
}
#navigationBar ul a {
  text-decoration: none;
}
#navigationBar ul a li {
  display: inline-block;
  margin: 30px 50px 0 0;
  color: #F9CDDC;
  font-family: 'Nova Mono', monospace;
  font-size: 25px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
#navigationBar ul a li:hover {
  color: white;
}
#navigationBar .navButton {
  width: 55px;
  float: right;
  margin: 43px 80px 0 0;
  display: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
@media (min-width: 800px) and (max-width: 1050px) {
  #navigationBar .navButton {
    width: 55px;
    display: block;
    margin: 50px 80px 0 0;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  #navigationBar .navButton {
    width: 40px;
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 599px) {
  #navigationBar .navButton {
    width: 40px;
    display: block;
    margin: 43px 30px 0 0;
  }
}

.navBody {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #fca55e;
  position: fixed;
  display: none;
}
.navBody .navClose {
  width: 40px;
  float: right;
  margin: 37px 35px 0 0;
}
@media (min-width: 800px) and (max-width: 1050px) {
  .navBody .navClose {
    width: 40px;
    margin: 44px 85px 0 0;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  .navBody .navClose {
    width: 30px;
    margin: 38px 85px 0 0;
  }
}
@media (min-width: 0px) and (max-width: 599px) {
  .navBody .navClose {
    width: 30px;
    margin: 37px 35px 0 0;
  }
}
.navBody ul {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.navBody ul a {
  text-decoration: none;
}
.navBody ul a li {
  display: block;
  margin: 30px 30px 0 0;
  color: #FFFFFF;
  font-family: 'Nova Mono', monospace;
  font-size: 20px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.navBody ul a li:hover {
  color: white;
}

.st0 {
  stroke: #FFFFFF;
}

.bunny {
  width: 100px;
  margin: 150px auto 0 auto;
  display: block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
@media (min-width: 0px) and (max-width: 500px) {
  .bunny {
    margin: 10px auto 0 auto;
    width: 70px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#arrow {
  width: 60px;
  margin-top: 50px;
}

.cls-1 {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

#scroll:hover .cls-1 {
  stroke: #ffffff;
}

.scroll_top {
  width: 800px;
  display: block;
  padding-top: 100px;
  margin: 0 auto 0 auto;
  transition: all 1.3s ease;
  -webkit-transition: all 1.3s ease;
}
@media (min-width: 0px) and (max-width: 1050px) {
  .scroll_top {
    width: 80%;
  }
}

.scroll_bottom {
  width: 800px;
  display: block;
  margin: -40px auto 0 auto;
  transition: all 1.3s ease;
  -webkit-transition: all 1.3s ease;
}
@media (min-width: 0px) and (max-width: 1050px) {
  .scroll_bottom {
    width: 80%;
  }
}

.scroll_body {
  /*display: none;*/
  width: 800px;
  height: 0px;
  overflow: hidden;
  margin: -50px auto 0 auto;
  background: url("../assets/images/scroll_body.svg") center center no-repeat;
  background-size: cover;
  transition: all 1.3s ease;
  -webkit-transition: all 1.3s ease;
  -moz-transition: all 1.3s ease;
  -o-transition: all 1.3s ease;
}
@media (min-width: 450px) and (max-width: 1050px) {
  .scroll_body {
    width: 70%;
    /*background-size:100% 100%;*/
    background-size: cover;
  }
}
@media (min-width: 0) and (max-width: 449px) {
  .scroll_body {
    width: 70%;
    height: auto;
    /*background-size:100% 100%;*/
    background-size: cover;
  }
}
.scroll_body p {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 50px;
  margin: 100px 20% 100px 20%;
}
@media (min-width: 800px) and (max-width: 1050px) {
  .scroll_body p {
    font-size: 30px;
  }
}
@media (min-width: 660px) and (max-width: 799px) {
  .scroll_body p {
    font-size: 30px;
    margin: 100px 20%;
  }
}
@media (min-width: 300px) and (max-width: 659px) {
  .scroll_body p {
    font-size: 24px;
    margin: 100px 30px;
  }
}

.animation {
  height: 680px;
  transition: all 1.3s ease;
  -webkit-transition: all 1.3s ease;
}
@media (min-width: 0px) and (max-width: 1050px) {
  .animation {
    /*height: calc(auto+50px);*/
    height: auto;
  }
}

a {
  text-decoration: none;
}

.start {
  display: none;
  width: 250px;
  height: 64px;
  background: #00B084;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  margin: 50px auto;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.start:hover {
  background: #03845F;
}
.start:hover p {
  color: #E2E2E2;
}
.start p {
  color: #FFFFFF;
  font-family: 'Nova Mono', monospace;
  font-size: 25px;
  padding-top: 13px;
}

footer {
  height: 80px;
  background-color: #00b084;
  text-align: center;
}
footer p {
  font-family: 'Nova Mono', monospace;
  font-size: 20px;
  color: white;
  position: relative;
  top: 20px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.monsters {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 0) and (max-width: 830px) {
  .monsters {
    display: none;
  }
}
.monsters .monster1 {
  height: 200px;
  margin-right: 50px;
}
.monsters .monster2 {
  height: 190px;
  margin-right: 50px;
}
.monsters .monster3 {
  height: 210px;
  margin-right: 40px;
}
.monsters .monster4 {
  height: 200px;
}

.aboutscreen {
  height: 2300px;
  width: 100%;
  background-color: #00b084;
}
@media (min-width: 0) and (max-width: 1000px) {
  .aboutscreen {
    height: auto;
  }
}
.aboutscreen .aboutbox {
  width: 80%;
  max-width: 800px;
  margin: 0px auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (min-width: 0) and (max-width: 830px) {
  .aboutscreen .aboutbox {
    padding-top: 0;
  }
}
.aboutscreen h2 {
  font-family: 'Nova Mono', monospace;
  font-size: 35px;
  color: white;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 50px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  /*		@include breakpoint(650px 799px){
  			font-size:35px;
  		}	
  		@include breakpoint(0px 649px){
  			font-size:25px;
  		}	*/
}
@media (min-width: 0px) and (max-width: 1000px) {
  .aboutscreen h2 {
    text-align: center;
  }
}
.aboutscreen h3 {
  font-family: 'Nova Mono', monospace;
  font-size: 25px;
  color: white;
}
.aboutscreen p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: white;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .aboutscreen p {
    text-align: justify;
  }
}
@media (min-width: 0px) and (max-width: 830px) {
  .aboutscreen .creator {
    display: none;
  }
}
.aboutscreen .text1 {
  width: 80%;
  max-width: 600px;
  float: right;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .aboutscreen .text1 {
    margin: 30px auto;
    display: block;
    float: none;
  }
}
.aboutscreen .text2 {
  width: 80%;
  max-width: 600px;
  float: left;
  margin-top: 100px;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .aboutscreen .text2 {
    margin: 30px auto;
    display: block;
    float: none;
  }
}
.aboutscreen .monster_1 {
  height: 200px;
  margin: 30px 0 0 10px;
  overflow: auto;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .aboutscreen .monster_1 {
    margin: 30px auto;
    display: block;
  }
}
.aboutscreen .monster_2 {
  height: 200px;
  margin: 130px 40px 0 0px;
  float: right;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .aboutscreen .monster_2 {
    display: none;
  }
}
.aboutscreen .monster_2_responsive {
  height: 200px;
  margin: 30px auto;
  display: none;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .aboutscreen .monster_2_responsive {
    display: block;
  }
}
.aboutscreen .monster_3 {
  height: 200px;
  margin: 30px 0 0 -10px;
  overflow: auto;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .aboutscreen .monster_3 {
    margin: 30px auto;
    display: block;
  }
}
.aboutscreen .monster_4 {
  height: 200px;
  margin: 130px 40px 0 0px;
  float: right;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .aboutscreen .monster_4 {
    display: none;
  }
}
.aboutscreen .monster_4_responsive {
  height: 200px;
  margin: 30px auto;
  display: none;
}
@media (min-width: 0px) and (max-width: 1000px) {
  .aboutscreen .monster_4_responsive {
    display: block;
  }
}
