@import "partials/functions";
@import "partials/variables";


html,body{
	@include fullWH();
	margin: 0;
}

#navigationBar{
	width:100%;
	height:$navbar-height;
	background-color: rgba(0,0,0,0.1);
	ul{
		float: right;
		margin: calc((50px - 1em)/2) 0;
		li{
			float: left;
			list-style: none;
			padding-right: 2em;
			a{
				color: black;
				text-decoration: none;
			}
		}
	}

}

