html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.firstscreen {
  height: 100%;
  min-height: 925px;
  width: 100%;
  background-color: #00b084;
}
.firstscreen h2 {
  font-family: 'Nova Mono', monospace;
  font-size: 55px;
  color: white;
  font-weight: 400;
  margin-bottom: 0;
  position: relative;
  left: -180px;
}
.firstscreen p {
  font-family: 'Nova Mono', monospace;
  font-size: 30px;
  color: white;
}

.secondscreen {
  height: 100%;
  min-height: 1200px;
  width: 100%;
  background-color: #f9d9e5;
}

#navigationBar {
  height: 100px;
}
#navigationBar h1 {
  font-family: 'Nova Mono', monospace;
  font-size: 60px;
  color: #F9CDDC;
  display: inline-block;
  margin: 30px 0 0 80px;
  font-weight: 400;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
#navigationBar h1:hover {
  color: white;
}
#navigationBar ul {
  list-style-type: none;
  float: right;
  display: inline-block;
  margin-right: 80px;
}
#navigationBar ul a {
  text-decoration: none;
}
#navigationBar ul a li {
  display: inline-block;
  margin: 30px 50px 0 0;
  color: #F9CDDC;
  font-family: 'Nova Mono', monospace;
  font-size: 25px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
#navigationBar ul a li:hover {
  color: white;
}

.st0 {
  stroke: #FFFFFF;
}

.bunny {
  width: 100px;
  margin: 150px auto 0 auto;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.textbox {
  text-align: left;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

#arrow {
  width: 60px;
  margin-top: 50px;
}

.cls-1 {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

#scroll:hover .cls-1 {
  stroke: #ffffff;
}

.scroll_top {
  width: 800px;
  display: block;
  padding-top: 100px;
  margin: 0 auto 0 auto;
}

.scroll_bottom {
  width: 800px;
  display: block;
  margin: -40px auto 0 auto;
}

.scroll_body {
  /*display: none;*/
  width: 800px;
  height: 0px;
  overflow: hidden;
  margin: -50px auto 0 auto;
  background: url("../assets/images/scroll_body.svg") center center;
  background-size: cover;
  transition: all 1.3s ease;
  -webkit-transition: all 1.3s ease;
}
.scroll_body p {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 50px;
  margin: 100px 180px 0 180px;
}

.animation {
  height: 680px;
}

a {
  text-decoration: none;
}

.start {
  display: none;
  width: 250px;
  height: 64px;
  background: #00B084;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  margin: 50px auto;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.start:hover {
  background: #03845F;
}
.start:hover p {
  color: #E2E2E2;
}
.start p {
  color: #FFFFFF;
  font-family: 'Nova Mono', monospace;
  font-size: 25px;
  padding-top: 13px;
}

footer {
  height: 80px;
  background-color: #00b084;
  text-align: center;
}
footer p {
  font-family: 'Nova Mono', monospace;
  font-size: 20px;
  color: white;
  position: relative;
  top: 20px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
