@import "partials/functions";
@import "compass";
@import "susy";
@import "breakpoint";

html,body{
	@include fullWH();
	margin: 0;
	overflow:hidden;
}

#canvas{
	@include fullWH();
}

#questionWindow{
	width: 600px;
	min-height: 200px;
	position:absolute;
	left:50%;
	top:40%;
	transform:translate(-50%,-50%);
	background-color: rgba(200,255,255,0.4);
	border: rgba(200,255,255,1) solid 3px;
	border-radius: 5px;
	text-align: center;
	input{
		  height: 60px;
		  width: 85%;
		  margin:0 auto;
		  font-size: 40px;
		  font-family: 'Source Sans Pro', sans-serif;
		  font-weight: 400;
		  color: white;
		  border-radius: 20px;
		  -webkit-border-radius:20px;
		  background-color: rgba(0,0,0,0.5);
		  -webkit-appearance: none; 
		  outline: none;
		  text-align: center;
		  box-shadow: none;
		  border-width:0px;
		  border:none;
		  margin-bottom: 50px;
		&:focus{
			outline: none;
		}
	}
}

#hintDisplay{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	position: absolute;
    width: 95%;
    height: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: rgba(255,255,255,0.5);
    span{
    	position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
    }
}


.container{
	@include fullWH();
	position:relative;
}

#hpDisplay{
	position:absolute;
	bottom: 10px;
	left: 10px;
	color: #FFF;
}


#resultDisplay{
	position:absolute;
	bottom: 50px;
	left: 10px;
}