@import "partials/functions";


html,body{
	@include fullWH();
	margin: 0;
	overflow:hidden;
}

body{
	position:relative;
}

// #canvas{
// 	@include fullWH();
// }

.canvas{
	@include fullWH();
	position:absolute;
}

#questionWindow{
	// z-index:9999;
	width: 300px;
	min-height:200px;
	position:absolute;
	left:50%;
	top:40%;
	transform:translate(-50%,-50%);
	background-color: rgba(255,255,255,0.4);
	border: rgba(255,255,255,1) solid 3px;
	border-radius: 5px;
	text-align: center;
	input{
		font-family: sans-serif;
		font-size: 16px;
		font-weight: 400;
		width: 95%;
		margin: 0;
		padding: 0;
		border: none;
		height: 25px;
		background-color: rgba(0,0,0,0.1);
		border-radius: 3px;
		text-align: center;
		color: white;
		position: absolute;
		transform: translateX(-50%);
		&:focus{
			outline: none;
		}
	}

	$hpWidth: 60px;
	$hpHeight: 20px;
	$spacing: 3px;
	#hpDisplay{
		position:absolute;
		top: -$hpHeight - 5px;
		right: 0;
		width: $hpWidth + ($spacing*3);
		height: $hpHeight;
		div{
			display: inline-block;
			width: $hpWidth/3;
			height: $hpHeight;
			background: url("../assets/UI/hp.svg") no-repeat;
		}
	}

	#questionDisplay{
		color: white;
		font-family: "Open Sans", sans-serif;
		width: 90%;
		position: absolute;
		top:40%;
		left: 50%;
    	// right: 0;
    	transform: translate(-50%,-50%);
    	padding: 0;
    	margin: 0;
	}
	#hintDisplay{
		position: absolute;
		bottom:8px;
	}
	#userAnswerInput{
		position: absolute;
		bottom:8px;
	}
}

#hintDisplay{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	position: absolute;
    width: 95%;
    height: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: rgba(255,255,255,0.5);
    span{
    	position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
    }
}


.container{
	@include fullWH();
	position:relative;
}

// #hpDisplay{
// 	position:absolute;
// 	bottom: 10px;
// 	left: 10px;
// 	color: #FFF;
// }

#levelDisplay{
	position:absolute;
	bottom: 30px;
	left: 10px;
	color: #FFF;
}

#resultDisplay{
	position:absolute;
	bottom: 50px;
	left: 10px;
}

#loading{
	width:100%;
	height:100%;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	position:absolute;
	background: center center url("../assets/images/loading.gif") no-repeat white;
	background-size: 12%;
}

#loading > label{
	font-family: "Open Sans", sans-serif;
	position:absolute;
	bottom:40%;
	left:50%;
	transform:translate(-50%,-50%);
}

.loadingDone{
	animation: loadingDone 1s forwards;
	// -moz-animation: loadingDone 1s forwards;
 //    -webkit-animation: loadingDone 1s forwards;
 //    -o-animation: loadingDone 1s forwards;
}

.wrong{
	animation: shake 0.5s forwards;
}

.right{
	animation: rightGreen 1s forwards;
}

#showHint{
	position: absolute;
	right:8px;
	bottom: 40px;
	background: none;
	border: none;
	color: white;
	&:focus{
		outline: none;
	}
}

#giveMeFirstLetter{
	position: absolute;
}

@keyframes loadingDone {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes shake {
	0% {
		left: 51%;
		background-color: rgba(255,255,255,0.4);
	}
	25%{
		left: 49%;
	}
	50% {
		left: 51%;
	}
	100% {
		left: 50%;
		background-color: rgba(255,150,150,0.4);
	}
}

@keyframes rightGreen{
	0%{
		background-color: rgba(255,255,255,0.4)
	}
	50%{
		background-color: rgba(150,255,150,0.4)
	}
	50%{
		background-color: rgba(255,255,255,0.4)
	}
}