body{
	background: #909090;
}
h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	text-align: center;
	color: white;
	font-weight: 900;

}
.hp{
	margin:20px auto;
	width: 100%;
	text-align: center;
}
.question{
	width: 600px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0.23);
	border: 10px solid rgba(255,255,255,0.5);
	border-radius: 60px;
	-webkit-border-radius:60px;
	text-align: center;
}
h1{
	font-family: 'Lobster', cursive;
	font-size: 52px;
	color: white;
	text-align: left;
	margin-left: 40px;
}
h3{
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 40px;
	margin-right: 40px;
	font-size: 35px;
	color: white;
	font-weight: 400;
	text-align: left;
}
.answer{
	height: 60px;
	width: 85%;
	margin:0 auto;
	font-size: 55px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: white;
	border-radius: 20px;
	-webkit-border-radius:20px;
	background-color: rgba(0,0,0,0.5);
	-webkit-appearance: none; 
	outline: none;
	text-align: center;
	box-shadow: none;
	border-width:0px;
	border:none;
}